<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Agregar Mensaje</title>
        <link rel="icon" th:href="@{/img/LOGO AZUL.png}" type="image/png">
        <!-- Otros recursos como CSS y scripts -->
    </head>
    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">

        <!-- App Wrapper -->
        <div class="app-wrapper">
            <!-- Incluir el menú -->
            <div th:replace="menu"></div>

            <!-- Contenido principal -->
            <main class="app-main">

                <div class="container mt-4">
                    <form action="/save" method="POST" class="col-sm-5">
                        <div class="card">
                            <div class="card-header">
                                <h4>AGREGAR MENSAJE</h4>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="nombre">ASUNTO</label>
                                    <input type="text" id="nombre" name="nombre" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="mensaje">MENSAJE</label>
                                    <textarea id="mensaje" name="mensaje" rows="4" class="form-control" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="fecha">FECHA</label>
                                    <br>
                                    <input type="date" lass="form-control" id="fecha" name="fecha" required>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="submit" value="Guardar" class="btn btn-info">
                                <a href="/usuarios" class="btn btn-link">Regresar</a>
       
                            </div>
                            
                        </div>
                    </form>
                </div>

            </main>
        </div>

        <!-- Scripts al final del cuerpo -->
    </body>
</html>
